h2 {
    margin-left: 60px;
}

#c1 {
    margin-left: 60px;
    height: 70px;
}

#img1 {
    height: 235px;
}

#rolunk {
    margin-left: 70px;
}

#img2 {
    margin-left: 800px;
    margin-top: 10px;
}

#nav {
    margin-left: 20px;
}

table {
    margin-left: 70px;
}

